<nav class="navbar navbar-expand-lg navbar-light px-4 custom-navbar fixed-top">
  <div class="container-fluid">

    <!-- Left: Logo and Hospital Name -->
    <a class="navbar-brand fw-bold text-primary d-flex align-items-center">
      <img src="./assets/logo.png" alt="Logo" style="height: 30px; margin-right: 15px;">
         RK Hospital
    </a>



    <!-- Right: Navigation Links -->
    <div class="d-flex ms-auto">
      <a class="nav-link px-3" routerLink="/">Home</a>
      <!-- <a class="nav-link px-3" routerLink="/specialist">About Us</a>
      <a class="nav-link px-3" routerLink="/contact">Contact Us</a> -->
      <a class="nav-link px-3" routerLink="/register">Sign Up</a>
      <a class="nav-link px-3" routerLink="/login">Sign In</a>
      <a class="nav-link px-3" routerLink="#">Logout</a>
    </div>
  </div>
</nav>
