<app-header></app-header>
<body>
  <main class="dashboard">
    <div class="card">
      <h1>👤</h1>
      <h2>Profile Management</h2>
      <!-- <p>View or update your profile information.</p> -->
      <button onclick="alert('Redirect to profile page')">Manage Profile</button>
    </div>
 
    <div class="card">
      <h1>📅</h1>
      <h2>Availability & Time Slots</h2>
      <!-- <p>Set your availability and patient appointment time slots.</p> -->
      <button onclick="alert('Redirect to availability page')">Update Schedule</button>
    </div>
 
    <div class="card">
      <h1>📋</h1>
      <h2>Medical History</h2>
      <!-- <p>Review patients’ medical history to assist in diagnosis.</p> -->
      <button onclick="alert('Redirect to medical history page')">View History</button>
    </div>
 
    <div class="card">
        <h1>🔔</h1>
      <h2>Notifications</h2>
      <button onclick="alert('Redirect to notify page')">View Notifications</button>
    </div>
    
  </main>
</body>