
<div class="landing-container">
  <div class="quote-box">
  <div class="landing-title fst-bold fst-italic">RK Hospital</div>

  <!-- <div class="quote-box"> -->
    <div class="landing-quote">
      <h2 class="fst-italic">Say goodbye to long waits and hello to instant bookings.</h2>
      <p class="fst-italic">"Your health, our priority - just a click away."</p>
    </div>
    <a routerLink="/home" class="explore-btn">Explore</a>
  </div>
</div>


  <!-- Trusted care, just a tap away. -->
  <!-- No more waiting rooms. Your time matters. -->

  <!-- Manage your appointments anytime, anywhere. -->
  <!-- Say goodbye to long waits and hello to instant bookings. -->