<app-header></app-header>

<body class="m-0 p-0">
 
  <!-- Section with image and button -->
  <div class="d-flex justify-content-center">
    <div class="image-container">
      <img src="./assets/home.png" alt="Home Image">
      <button class="btn btn-primary book-btn">Book Appointment</button>
    </div>
  </div>
 
  <!-- Combined colored background for smooth transition -->
  <div class="main-services-section text-white pt-5">
    <div class="container py-4">
      <h2 class="text-left mb-4">Our Main Services</h2>
      
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <!-- <div class="card text-white bg-primary h-100 text-center"> -->
            <div class="card card-mother">
            <div class="card-body">
              <i class="fa-solid fa-person-breastfeeding fa-2x mb-3"></i>
              <h5 class="card-title">Mother & Child Care</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-diagnostics">
            <div class="card-body">
              <i class="fas fa-microscope fa-2x mb-3"></i>
              <h5 class="card-title">Diagnostics & Lab</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-emergency">
          <div class="card-body">
              <i class="fa-solid fa-truck-medical fa-2x mb-3"></i>
              <h5 class="card-title">24/7 Emergency</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-teleconsult">
          <div class="card-body">
              <i class="fas fa-laptop-medical fa-2x mb-3"></i>
              <h5 class="card-title">Teleconsultation</h5>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </div>
 
</body>

<app-specialist></app-specialist>
<app-contact></app-contact>